@model SharedModels.EF.Models.clsSupplier

@{
    ViewData["Title"] = "تفاصيل المورد";
}

<h1>تفاصيل المورد</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">معرف المورد:</dt>
        <dd class="col-sm-8">@Model.ID</dd>

        <dt class="col-sm-4">معرف الشخص:</dt>
        <dd class="col-sm-8">@Model.PersonID</dd>

        <dt class="col-sm-4">الاسم الأول:</dt>
        <dd class="col-sm-8">@Model.Person.FirstName</dd>

        <dt class="col-sm-4">الاسم الأخير:</dt>
        <dd class="col-sm-8">@Model.Person.LastName</dd>

        <dt class="col-sm-4">الاسم الكامل:</dt>
        <dd class="col-sm-8">@(Model.Person.FirstName + " " + Model.Person.LastName)</dd>

        <dt class="col-sm-4">رقم الهاتف:</dt>
        <dd class="col-sm-8">@Model.Person.PhoneNumber</dd>

        <dt class="col-sm-4">اسم المتجر:</dt>
        <dd class="col-sm-8">@Model.StoreName</dd>

        <dt class="col-sm-4">عنوان المتجر:</dt>
        <dd class="col-sm-8">@Model.StoreAddress</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">
        <i class="fas fa-edit"></i> تعديل
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> العودة للقائمة
    </a>
</div>
