@model DAL.EF.Models.clsPerson

@{
    ViewData["Title"] = "تفاصيل الشخص";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-user me-2"></i>
                        تفاصيل الشخص
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">المعرف:</dt>
                                <dd class="col-sm-8">@Model.ID</dd>

                                <dt class="col-sm-4">الاسم الأول:</dt>
                                <dd class="col-sm-8">@Model.FirstName</dd>

                                <dt class="col-sm-4">الاسم الأخير:</dt>
                                <dd class="col-sm-8">@Model.LastName</dd>

                                <dt class="col-sm-4">الاسم الكامل:</dt>
                                <dd class="col-sm-8">@($"{Model.FirstName} {Model.LastName}")</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">رقم الهاتف:</dt>
                                <dd class="col-sm-8">@Model.PhoneNumber</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">
                            <i class="fas fa-edit me-1"></i>
                            تعديل
                        </a>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-1"></i>
                            العودة للقائمة
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
